## Images
*.gnuplot
examples/images/*.svg
test.png

## vscode config
.vscode

## Compiled assets
/target
**/*.rs.bk

## Local plotlib checkout
plotlib/

## Python environment
venv/

## LaTeX files
description/*.log
__*.tex
*.fdb_latexmk
*.aux
*.xdv
*.fls
*.synctex.gz